.background {
  position: relative;
  margin-right: calc(50% - 45vw);
  margin-left: calc(50% - 45vw);
}

// Concept Section
.frame {
  @apply absolute top-0 bottom-0 right-0 left-0 my-auto w-full;
  height: 90%;
  border: 4px solid #479074;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    border: 2px solid #479074;
  }

  &.concept {
    @apply grid grid-cols-2;
    background-color: white;
  }

  &.instagram {
    @apply w-auto;
    background-color: #fdfbf3;
    margin-right: calc(50% - 42vw);
    margin-left: calc(50% - 42vw);
    padding-right: calc(42vw - 50%);
    padding-left: calc(42vw - 50%);
  }
}

.conceptImage {
  @apply top-1/2 left-0 right-0 m-auto w-5/6 shadow-lg;
}

.conceptHeading {
  @apply relative inline-block font-extrabold text-4xl mb-2;
  font-family: "凸版文久見出し明朝";

  &::after {
    @apply absolute -bottom-5 left-0 right-0;
    content: "";
    border-bottom: 7px solid black;
  }
}

.conceptDesc {
  @apply font-extrabold py-8;
  font-family: "游明朝体";
  h2 {
    @apply text-2xl mb-4;
  }
  p {
    @apply text-base;
    line-height: 1.8;
  }
}

// Feature Section
