.background {
  position: relative;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  height: 13rem;

  @media only screen and (min-width: 768px) {
    height: 18rem;
  }

  &::after {
    content: "";
    @apply absolute top-0 bottom-0 left-0 right-0;
    z-index: 1;
    opacity: 0.3;
    background-color: #000;
  }
}

.nav {
  @apply absolute top-0 pt-4 md:pt-10 
  flex flex-col justify-start
  text-white;
  font-weight: 800;
  z-index: 2;
  font-family: "游明朝体";
}

.copyright {
  @apply absolute bottom-0 left-0 right-0 mx-auto text-center
  text-white;
  font-size: var(--text-xs);
  z-index: 2;

  @media only screen and (min-width: 768px) {
    @apply mx-0;
  }
}

.navTitle {
  font-family: "凸版文久見出し明朝";
  font-size: 1.25rem;
  font-weight: 800;
}

.footerNavList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:nth-child(2) {
    font-size: 0.8rem;

    .footerNavListItem {
      margin-bottom: 0.4rem;
    }
  }
}

.footerNavListItem {
  margin-bottom: 1rem;
}
