.wrapper {
  @apply container;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0;
}

.header {
  @apply flex flex-row justify-between items-center w-full;
}

@media (min-width: 640px) {
  .header {
    grid-template-areas: "logo navHeader searchButton cartButton";
  }
}

.logo {
  font-family: "凸版文久見出し明朝";
  @apply font-bold text-xl;
}
