.fader {
  @apply relative w-full text-center;
  height: 500px;
}

.fader__slide {
  @apply absolute;
}

.image {
  height: 500px;
}

.dots {
  @apply absolute bottom-2 inline-block;
  transform: translateX(-50%);
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
  @apply focus:outline-none;
}

.dot.active {
  background: green;
}
