.productCardStyle {
  @apply mx-2 my-4;
  max-width: 400px;
  cursor: pointer;
  text-decoration: none;
}

.productImageStyle {
  margin-bottom: var(--space-md);
  border: 2px solid #000;
}

.productDetailsStyle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-weight: var(--semibold);
}

.productVendorStyle {
  font-size: var(--text-sm);
  color: var(--text-color-secondary);
}

.productHeadingStyle {
  width: 100%;
  font-size: var(--text-lg);
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--dense);
}

.productPrice {
  color: var(--text-color-secondary);
}
